* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #ffdae0;
  color: #fff;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  max-width: 120%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #030b07;
}
h3 {
  color: #030b07;
  margin-bottom: 10px;
}
.quiz {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  width: 120%;
  -webkit-box-shadow: 5px 5px 18px 3.5px #000000;
  box-shadow: 5px 5px 18px 3.5px #000000;
}

.quiz-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.quiz-info .question {
  color: #030b07;
  font-size: 1.25rem;
}

.quiz-info.score {
  color: #fff;
  font-size: 1.25rem;
}

.options {
  margin-bottom: 1rem;
}

.option {
  padding: 1rem;
  display: block;
  background-color: #3385d6;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.option:hover {
  background-color: #2d213f;
}

.option.correct {
  background-color: rgba(3, 229, 116, 0.5);
  color: #030b07;
}

.option.wrong {
  background-color: #ff5a5f;
  color: #030b07;
}

.option:last-of-type {
  margin-bottom: 0;
}

.option.disabled {
  opacity: 0.5;
}

.option input {
  display: none;
}

button {
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #2cce7d;
  color: #2d213f;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #030b07;
}

p {
  color: #8f8f8f;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  color: #030b07;
}
